
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dodaj usługę</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <p style="font-size:22px;font-weight: bold;">
                            Dodanie nowej usługi
                        </p>
                    </div>
                    <div class="modal-body">
                        <p style="font-size:17px;">
                            @ViewBag.InfoMessage
                        </p>
                    </div>
                    <div class="container">
                        <div class="row" style="padding-bottom:10px;">
                            <div class="col-md-2">
                                Nazwa usługi
                            </div>
                            <div class="col-md-2">
                                @Html.TextBox("services_name", null, new { @class = "form form-control", @placeholder = "usługa" })
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-2">
                                <input type="submit" value="Dodaj" class="btn btn-success" />
                            </div>
                            <div class="col-md-2">
                                @Html.ActionLink("Anuluj", "Index", "Reservation", null, new { @class = "btn btn-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

    <script type="text/javascript">
                        $(document).ready(function () {
                            // debugger
                            $('#myModal').modal({ backdrop: 'static' });

                            $('#klozet').on('click', function (event) {
                                event.preventDefault();
                                // $('#myModal').modal('close');
                            });

                        });
    </script>
</body>
</html>
