@model salonfrSource.ModelDB.VReservation


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>deleteReservation2</title>
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p style="font-size:22px;font-weight: bold;">
                        <h3>Czy napewno chcesz usunąć tę rezerwację?</h3>
                    </p>
                </div>
                <div class="modal-body">
                    <p style="font-size:17px;">
                        @ViewBag.InfoMessage
                    </p>
                </div>
                <div class="container">
                    <div class="row" style="padding-top:10px; padding-bottom:10px;">
                        <div class="col-md-2">
                            @Html.TextBox("reservation_date", null, new { @readonly = "readonly", @class = "form form-control" })
                        </div>
                        <div class="col-md-2">
                            @Html.TextBox("reservation_time", null, new { @readonly = "readonly", @class = "form form-control" })
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px; padding-bottom:10px;">
                        <div class="col-md-2">
                            @Html.TextBox("client_name", null, new { @readonly = "readonly", @class = "form form-control" })
                        </div>
                        <div class="col-md-2">
                            @Html.TextBox("client_sname", null, new { @readonly = "readonly", @class = "form form-control" })
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px; padding-bottom:10px;">
                        <div class="col-md-2">
                            @Html.TextBox("service_name", null, new { @readonly = "readonly", @class = "form form-control" })
                        </div>
                        <div class="col-md-2">
                            @Html.TextBox("employee_name", null, new { @readonly = "readonly", @class = "form form-control" })
                        </div>
                    </div>
                </div>
                @using (Html.BeginForm("deleteReservation", "Reservation", FormMethod.Post, new { @id = "DeleteReservationForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">
                                @Html.TextBox("reservation_id", null, new { @class = "form form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>

                }
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-8">

                        </div>
                        <div class="col-md-2">
                            <input id="btnDeleteReservation" type="submit" value="Usuń" class="btn btn-success" />
                        </div>
                        <div class="col-md-2">
                            @Html.ActionLink("Anuluj", "Index", "Reservation", null, new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            // debugger
            $('#myModal').modal({ backdrop: 'static' });

            $('#klozet').on('click', function (event) {
                event.preventDefault();
                // $('#myModal').modal('close');
            });

            $("#btnDeleteReservation").on('click', function (event) {
                $('#DeleteReservationForm').submit();
            });


        });
    </script>
</body>
</html>
