@model IEnumerable<salonfrSource.ModelDB.VReservation>

@{
    Layout = "~/Views/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container" style="padding-top:20px;">
        <div class="container">
            <div class="row">
                <div class="col-md-1" style="padding-right:100px">
                    <input id="btnAddNewClient" type="submit" value="Dodaj Klienta" class="btn btn-success" />
                </div>
                <div class="col-md-1" style="padding-right:100px">
                    <input id="btnAddNewServices" type="submit" value="Dodaj Usługę " class="btn btn-success" />
                </div>
                <div class="col-md-1" style="padding-right:10px">
                    <input id="btnAddNewEmployee" type="submit" value="Dodaj Pracownika" class="btn btn-success" />
                </div>
                <div class="col-md-2">

                </div>
            </div>
        </div>

    </div>

    <div id="okienkoWyskakujace">

    </div>

    <div class="container" style="padding-top:20px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="container">
                    @using (Html.BeginForm("Index", "Reservation", FormMethod.Post))
                    {
                        <div class="row" style="padding-top:10px;padding-bottom:10px;">
                            <div class="table">
                                <div class="col-md-2">
                                    @Html.TextBox("dateReservation", null, new { @class = "datepicker", @placeholder = "Data rezerwacji" })
                                </div>
                                <div class="col-md-2">
                                    @Html.DropDownList("clientList", (MultiSelectList)ViewBag.clientList, htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    @Html.DropDownList("serviceList", (MultiSelectList)ViewBag.serviceList, htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    @Html.DropDownList("employeeList", (MultiSelectList)ViewBag.employeeList, htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="col-md-1">
                                    <input id="btnAddReservation" type="submit" value="Dodaj" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="panel-body">
                <div class=" container-fluid">
                    <div class="row">
                        <div class="table">
                            <div class="col-md-2">
                                Filtr pracownik
                            </div>
                            <div class="col-md-2">
                                Filtr klient
                            </div>
                            <div class="col-md-2">
                                Filtr  Usługa
                            </div>
                            <div class="col-md-2">
                                Filtr  Termin Rezerwacji
                            </div>
                            <div class="col-md-1">
                                <input id="btnSzukaj" type="submit" value="Szukaj" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="container-fluid ">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table table-striped">
                                <thead>
                                    <tr>
                                        <th class="hidden">
                                            @Html.DisplayNameFor(model => model.reservation_id)
                                        </th>
                                        <th>
                                            <p>Data rezerwacji</p>
                                        </th>
                                        <th>
                                            <p>Godzina rezerwacji</p>
                                        </th>
                                        <th>
                                            <p>Dane klienta</p>
                                        </th>
                                        <th>
                                            <p>Usługa</p>
                                        </th>
                                        <th>
                                            <p>Pracownik</p>
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="hidden">
                                                @Html.DisplayFor(modelItem => item.reservation_id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.reservation_date)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.reservation_time)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.client_name)
                                                &nbsp; @Html.DisplayFor(modelItem => item.client_sname)
                                                &nbsp; @Html.DisplayFor(modelItem => item.client_phone)
                                                &nbsp; @Html.DisplayFor(modelItem => item.client_description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.services_name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.employee_name)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
